/* standard box */
$box-background-color-dark: rgb(57, 0, 0);
$box-background-color-dark-opacity: rgba(57, 0, 0, 0.8);
$box-background-color-light: rgb(255, 116, 116);
$box-background-color-light-opacity: rgba(255, 116, 116, 0.8);

/* standard text */
$text-color-light: rgb(255, 116, 116);
$text-color-dark: rgb(57, 0, 0);