@import 'configParam';

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-image: url('../img/pexels-itfeelslikefilm-590493.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    section{
        margin: 5vh 0px;
        width: 80%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid $box-background-color-dark;
        background-color: $box-background-color-light-opacity;
        gap: 5vh;

        button{
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid $box-background-color-dark;
            background-color: $box-background-color-dark;
            color: $text-color-light;

            &:hover{
                background-color: red;
                color: $text-color-dark;
                cursor: pointer;
            }
        }

        h1{
            margin-bottom: 5vh;
            color: $text-color-dark;
            width: 100%;
            text-align: center;
        }

        form{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            label{
                color: $text-color-dark; 
            }

            div{
                display: flex;
                flex-direction: column;
                gap: 2vh;
                width: 60%;

                select{
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid $box-background-color-dark;
                    background-color: $box-background-color-dark;
                    color: darkgray;

                    &.selected{
                        color: $text-color-light;
                    }

                    .optionStandard{
                        color: darkgray;
                    }

                    .selection{
                        color: $text-color-light;
                    }
                }
            }
        }

        .review{
            display: flex;
            width: 90%;
            justify-content: space-between;
            padding: 20px;
            border-radius: 10px;
            background-color: $box-background-color-dark;
            position: relative;
            transition: left 0.5s ease;

            img{
                width: 30%;
                position: relative;
                left: 10%;
                border-radius: 20px;
                border: 1px solid $box-background-color-light;
            }

            .infoContainer{
                display: flex;
                width: 50%;
                flex-direction: column;
                gap: 2vh;

                h2, p, i{
                    color: $text-color-light;
                }

                .evaluationContainer{
                    display: flex;
                    gap: 0.2vw;
                }

                .generalInformation {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: auto;
                    border-top: 1px solid $text-color-light;
                    padding-top: 2px;

                    .likesContainer{
                        display: flex;
                        gap: 0.3vw;
                    }

                    a{
                        background-color: transparent;
                        color: $text-color-light;
                        text-decoration: none;
                        border: none;

                        &:hover{
                            color: rgb(143, 52, 52);
                        }
                    }
                }

                a{
                    width: 30%;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: $box-background-color-light;
                    border: 1px solid $box-background-color-light;
                    color: $text-color-dark;
                    text-decoration: none;
                    text-align: center;
                    margin: 0 auto;

                    &:hover{
                        background-color: $box-background-color-dark;
                        color: $text-color-light;
                    }
                }
            }
        }

        .odd{
            left: -100vw;
        }

        .even{
            left: 100vw;
            flex-direction: row-reverse;

            img{
                left: -10%;
            }
        }
    }
}