@import 'configParam';

body{
    background-image: url('../img/pexels-dayanrodio-4132936.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    main{
        max-width: 600px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10vh;
        background: linear-gradient(to right, rgba(57, 0, 0, 1), rgba(57, 0, 0, 1) 60%, rgba(57, 0, 0, 0));
        height: 100vh;

        h1, p{
            color: $text-color-light;
            text-align: center;
        }

        a{
            text-decoration: none;
            color: $text-color-light;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $text-color-light;
            background-color: rgb(40, 0, 0);

            &:hover{
                background-color: $text-color-light;
                color: $text-color-dark;
            }
        }
    }
}